body {
    font-family: monospace;
    text-align: center;
}

.hidden1 {
    display: none;
}

.hidden2 {
    display: none;
}

.hidden3 {
    display: none;
}

.hidden4 {
    display: none;
}

#globe-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.freeze { 
    position:fixed; 
    z-index:10; 
    width:100vw; 
    height:100vh; 
    top:0; 
    left:0;
  }

  .hideText {
    display: none;
  }


@media screen and (min-width: 1001px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .web {
        display: none;
    }

    h1 {
        font-size: 60px;
    }

    #globe-container-mobile {
        display: flex;
        height: 1000px;
        align-items: center;
        justify-content: center;
    }

    #globe-container-mobile img {
        display: flex;
    }
}